* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: lighter;
}

#navbar {
  position: fixed;
  width: 100%;
  height: 55px;
  background-color: #fff;
  box-shadow: 0 0 10px 1px #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

#logo,
#pages > a {
  padding: 10px 20px;
  transition: all 0.5s ease;
}

#logo:hover,
#pages > a:hover {
  background-color: rgb(197, 189, 189);
}

#pages > a {
  text-decoration: none;
  display: inline-block;
  color: #000;
  margin: -4px;
  letter-spacing: 3px;
}
/*  */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 81%;
  margin: auto;
}

#img-section {
  padding-top: 60px;
}

#img-section div {
  position: relative;
}

#img-section span {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: #fff;
  letter-spacing: 3px;
}

#img-section span p {
  display: inline-block;
  background: #000;
  padding: 5px 20px;
  opacity: 0.6;
}

#projects-section {
  margin: 60px auto;
}

#projects-section h2 {
  font-weight: lighter;
  margin-bottom: 20px;
}

#projects-section hr,
#about-section hr,
#contact-parent hr {
  border: 1px solid rgb(232, 225, 225);
}

#card-parent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
  margin-top: 40px;
}

#about-section h3,
#contact-parent h3 {
  font-size: 25px;
  margin-bottom: 20px;
}

#about-section > p {
  margin: 10px 0px 35px;
}

#the-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
}

#the-card img {
  filter: grayscale(1);
}

#the-card div button {
  width: 100%;
  height: 40px;
  border: none;
  background-color: #f1f1f1;
  font-size: 16px;
  transition: all 0.5s ease;
}

#the-card div p {
  margin: 20px 0px;
}

#the-card div button:hover {
  background-color: rgb(188, 181, 181);
}

.job-title {
  opacity: 0.6;
}

#contact-parent {
  width: 100%;
  margin-top: 60px;
}

#contact-parent p {
  margin: 15px 0px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form input {
  height: 40px;
  font-size: 16px;
}

#submit {
  width: 140px;
  background-color: #000;
  color: #fff;
  transition: all 0.5s ease;

}

#submit:hover {
  background-color: rgb(188, 181, 181);
  color: #000;
}

#map {
  margin-top: 50px;
  width: 100%;
}

footer {
  width: 100%;
  height: 70px;
  background-color: #000;
  color: #fff;
  text-align: center;
  align-content: center;
}

@media (max-width: 1024px) {
  #the-card,
  #card-parent {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  #the-card,
  #card-parent {
    display: grid;
    grid-template-columns: 1fr;
  }

  main {
    width: 90%;
  }

  #pages {
    display: none;
  }
}
